form {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
    border: 1px solid gray;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input {
    width: 80%;
}

#logo {
    width: 100%;
}